<!--<h1>{{form.value|json}}</h1>-->
<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (ngSubmit)="onAddPost()" *ngIf="!isLoading">
    <mat-form-field>
      <mat-label>Title</mat-label>
      <input
        matInput
        placeholder="Enter Title"
        formControlName="title"
      />
      <mat-error *ngIf="form.get('title').invalid">Please Enter Valid Title</mat-error>
    </mat-form-field>
    <div>
      <!--      image picked and also binding to html -->
      <button type="button" mat-stroked-button (click)="filePicker.click()">Pick Image</button>
      <input type="file" style="visibility: hidden" (change)="onImagePeak($event)" #filePicker>

    </div>
<!--    image here-->
    <div style="margin-bottom: 10px" *ngIf="imagePreview &&imagePreview!=null && form.get('image').valid" class="image-preview">
      <img [src]="imagePreview" [alt]="form.value.title">
    </div>
    <mat-form-field>
      <mat-label>Content</mat-label>
      <textarea
        matInput
        rows="6"
        placeholder="Enter Content"
        formControlName="content"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid">Please Enter Valid Content</mat-error>
    </mat-form-field>
    <button type="submit" mat-flat-button color="primary">Save Post</button>
    <button style="margin-left: 30px" *ngIf="mode==='create'" type="reset" mat-flat-button color="warn">
      Clear
    </button>
  </form>
</mat-card>
